body {
    font-family: Arial, sans-serif;
    background-image: url("light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.webp");
    background-repeat: no-repeat;
    background-size: cover;  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  nav {
    background-color: #eee;
    padding: 1em;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  main {
    padding: 20px;
  }  